[flake8]
max-line-length = 100
exclude =
    .git,
    __pycache__,
    alembic,
    .venv,
    venv,
    .env,
    build,
    dist,
    scripts,
ignore =
    E203,
    W503,
    E501,
    W291,
    W293,
    E226,
    D100,
    D101,
    D102,
    D103,
    D104,
    D106,
    D107
per-file-ignores =
    __init__.py: F401
